<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso VUEjs</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <form>
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" v-model="nome">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" v-model="email">
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" v-model="telefone">
      <label for="mensagem">Mensagem</label>
      <textarea id="mensagem" name="mensagem" v-model="mensagem"></textarea>
      <br>
      <button @click.prevent="enviarFormulario" type="submit">Enviar</button>
    </form>
    <div>
      <ul>
        <li v-for="(valor, chave) in resultado">
          {{chave}}: {{valor}}
        </li>
      </ul>
      
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data:{
        nome: "",
        email: "",
        telefone: "",
        mensagem: "",
        resultado:{}
      },
      methods: {
        enviarFormulario(){
          this.resultado = {
            nome: this.nome,
            email: this.email,
            telefone: this.telefone,
            mensagem: this.mensagem
          }
        }
      }
    });
  </script>

</body>
</html>