<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso VUEjs</title>
  <script src="vue.js"></script>
</head>
<body>
  
  <div id="app">    
    <button @click="puxarCursos">Buscar</button>
    
    <div v-for="(curso) in cursos">
      
      <h1>
        <a :href="curso.link">{{curso.curso}}</a>
      </h1>

      <ul>
        <li v-for="{nome, tempo} in curso.aulas">
         {{nome}} - {{tempo}}
        </li>
      </ul>

    </div>

  </div>
  <!--
  Utilizando a api:
  https://viacep.com.br/ws/04538133/json/
  Mostre o cep, logradouro, complemento, bairro, localidade e uf do que for retornado.
  
  Use o arquivo json da aula, para listar os cursos e as matérias.
-->

<script>
  const vm = new Vue({
    el: "#app",
    data: {
      cursos: {}
    },
    methods: {
      puxarCursos(){
        fetch("./cursos.json")
        .then((body) => body.json())
        .then((response) => this.cursos = response)
      }
    },
  });
</script>

</body>
</html>