<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso VUEjs</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <template v-if="logado">
      <p>Usuário Logado</p>
      <button @click="logado = false">Deslogar</button>
    </template>

    <template v-else="logado">
      <p>Usuário Deslogado</p>
      <button @click="logado = true">Logar</button>
    </template>

    <!-- If: Não renderiza na tela, se for muito usado, nao é recomendado -->
      <!-- <p v-if="logado">Usuario Logado</p> -->
    <!-- V-show: renderiza na tela com display block/none -->
      <!-- <p v-show="logado">Usuario Logado</p> -->

  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        logado: true
      }
    });
  </script>

</body>
</html>